{
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
